html {
  box-sizing: border-box;
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  font-size: get('font.size');

  @media all and (max-width: get('layout.responsive.smallscreen')) {
    margin-top: 0 !important;

    #wpadminbar {
      display: none;
    }
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

*:focus {
  outline: none;
}

.bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100% !important;
  height: 100% !important;

  &-contain {
    object-fit: contain;
  }
}

.progressive {
  position: relative;
  display: block;

  &-canvas {
    position: absolute;
  }
}