.hero {
  width: 100vw;
  height: 60vh;
  display: flex;

  @media screen and (max-width:568px) {
    height: 200px;
  }

  &-content {
    margin: auto;
    text-align: center;
  }

  .subtitle {
    font-size: rem(18px);
  }
}

#navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;

  ul {
    padding: 15px;
    margin: 0;
    background-color: #fff;
    list-style: none;

    li {
      a {
        color: #333;
        padding: 1px 0;
        display: block;
        font-size: rem(10px);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          cursor: pointer;
          color: $accent;
        }
      }
    }
  }
}